<a href="https://colab.research.google.com/github/Muyikem21/Sunday_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
str = "Daniel"
print(len(str))

6

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
str1 = input("Enter the string")
d1 = dict()
for c in str1:
    if c in d1:
      d1[c] = d1[c] + 1
    else:
      d1[c] = 1
print (d1)

Enter the stringgoogle.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
mylist_Sunday = [1,2,3,4,5,6,7,8,9,10]
total_Sunday = sum(mylist_Sunday)
print(total_Sunday)

55

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def string_replace(string):
  first_char = string [0]
  modified_string = string [1:]. replace (first_char, '$')
  return first_char + modified_string
print(string_replace('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
a=int(input("Enter any number:"))
b=int(input("Enter any number:"))
S= 3.14 * (1+(a/b))**3
print(S)

Enter any number:3
Enter any number:6
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
output={}
for d in(dic1, dic2, dic3): output.update (d)
print("result:", output)

result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
tuple_Daniel=("a", "y", "4", "B")
print("y" in tuple_Daniel)
print("f" in tuple_Daniel)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
set1=({2,4,6,8,10,12})
print(max(set1))
print(min(set1))

12
2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [7]:

from random import randint

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

Group=[[],[],[],[],[]]

# Put no more than 5 in each
while len(studnet_list)>0:
    fromPos=randint(0,len(studnet_list)-1)
    toPos=randint(0,4)
    while len(Group[toPos])>=5:
        toPos=randint(0,4)
    Group[toPos].append(studnet_list.pop(fromPos))

# Make sure that there are at least three in each
for i in range(5):
    while len(Group[i])<3:
        stealPos=i
        while stealPos==i:
            stealPos=randint(0,4)
        Group[i].append(Group[stealPos].pop())

# Show the groups
for i in range(5):
    print("Group",i)
    print(Group[i])

Group 0
['vmb0067', 'at0768', 'dd0420', 'rrk0058']
Group 1
['sg0940', 'at0739', 'snd0097', 'rs0850']
Group 2
['mv0299', 'ss1995', 'tv0119', 'nm0547', 'pn0159']
Group 3
['msp0174', 'bk0301', 'yye0005', 'dy0091', 'spk0057']
Group 4
['vl0135', 'pc0353', 'rak0120', 'ds0761']